# Pandas Dataframe oefening

# Inladen van een pandas DataFrame

Maak gebruik van een kleine <a href="https://archive.ics.uci.edu/ml/datasets/heart+Disease" class="external">dataset</a> over hartziektes dat beschikbaar gesteld wordt door de UCI Machine Learning Repository.
Deze dataset is een csv bestaande uit een aantal honderd lijnen.
Elke lijn beschrijft een patient en elke kolom een kenmerk van de patient.
We gaan in deze notebook proberen te voorspelen of een patient een hartziekte heeft op basis van deze gegevens.
Dit is een binaire classificatie taak.

## Inlezen van de data via pandas

Schrijf in de code cell hieronder de nodige code om met behulp van pandas (zoals we bij datascience gezien hebben) de dataset te downloaden en in te lezen via pandas.
De link naar de dataset zelf is https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/.
Print daarna de eerste 10 rijen uit van de dataset en de datatypes van elke kolom.
Splits ten slotte de dataset in twee delen, namelijk de features en de labels/targets.

In [3]:
# downloaden en inlezen van de data
import opendatasets as od
import pandas as pd

#od.download("{plaats hier de url}")

df = pd.read_csv("heart.csv")
display(df.head(10))
df.info()

y = df.target
X = df.drop("target", axis=1)

display(y)
display(X)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0,fixed,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,normal,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,reversible,0
3,37,1,3,130,250,0,0,187,0,3.5,3,0,normal,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,normal,0
5,56,1,2,120,236,0,0,178,0,0.8,1,0,normal,0
6,62,0,4,140,268,0,2,160,0,3.6,3,2,normal,1
7,57,0,4,120,354,0,0,163,1,0.6,1,0,normal,0
8,63,1,4,130,254,0,2,147,0,1.4,2,1,reversible,1
9,53,1,4,140,203,1,2,155,1,3.1,3,0,reversible,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    object
 13  target    303 non-null    int64
dtypes: float64(1), int64(12), object(1)
memory usage: 33.3+ KB

0      0
1      1
2      0
3      0
4      0
      ..
298    0
299    1
300    1
301    1
302    1
Name: target, Length: 303, dtype: int64

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,1,145,233,1,2,150,0,2.3,3,0,fixed
1,67,1,4,160,286,0,2,108,1,1.5,2,3,normal
2,67,1,4,120,229,0,2,129,1,2.6,2,2,reversible
3,37,1,3,130,250,0,0,187,0,3.5,3,0,normal
4,41,0,2,130,204,0,2,172,0,1.4,1,0,normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,52,1,1,118,186,0,2,190,0,0.0,2,0,fixed
299,43,0,4,132,341,1,2,136,1,3.0,2,0,reversible
300,65,1,4,135,254,0,2,127,0,2.8,2,1,reversible
301,48,1,4,130,256,1,2,150,1,0.0,1,2,reversible
302,63,0,4,150,407,0,2,154,0,4.0,2,3,reversible

## Model trainen met minimale preprocessing

Op basis van deze dataset kan je nu een model trainen.
Bij Data Science hebben we hiervoor gebruik gemaakt van de sklearn library.

Maak voor het model te trainen een pipeline aan.
Voer in deze pipeline de volgende preprocessing stappen uit.
* Voer normalisatie uit op de numerieke kolommen ('age', 'thalach', 'trestbps',  'chol', 'oldpeak')

Na het uitvoeren van de preprocessing stappen, train een Random Forest Classifier met zelfgekozen hyperparameters.
Welke accuraatheid behaal je met een test-size van 20%?

In [2]:
# schalen van numerieke kolommen

# train random forest model

## Model trainen met volledige preprocessing

Maak voor het model te trainen een pipeline aan.
Voer in deze pipeline de volgende preprocessing stappen uit.
* Voer normalisatie uit op de numerieke kolommen ('age', 'thalach', 'trestbps',  'chol', 'oldpeak')
* Voer one-hot encoding uit op de categorieke kolommen

Na het uitvoeren van de preprocessing stappen, train een Random Forest Classifier met zelfgekozen hyperparameters.
Welke accuraatheid behaal je met een test-size van 20%?

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier

In [16]:
num_cols = ['age', 'thalach', 'trestbps',  'chol', 'oldpeak']
cat_cols = ["thal"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# schalen van numerieke kolommen en one-hot encoding van categorieke kolommen
p = Pipeline(steps=[
    ('preprocessor', ColumnTransformer(transformers=[
        ('numerieke', StandardScaler(), num_cols),
        ('categorieke', OneHotEncoder(handle_unknown='ignore'), cat_cols)
    ])),
    ('rf_forest', RandomForestClassifier())
])

# trainen van random vorest classifier
p.fit(X_train, y_train)
p.score(X_test, y_test)

0.7540983606557377